body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f8f8f8;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
}

.recipe {
  margin-bottom: 30px;
}

.recipe img {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #f8f8f8;
  text-align: center;
  padding: 1em;
}





