body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f8f8f8;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
}

.recipe {
  margin-bottom: 30px;
  background-color: #ddd;
  border: 1px solid #ddd;
  padding: 20px;
}

.recipe img {
  max-width: 50%;
  height: 50%;
  display: block;
  margin: auto;
  border-radius: 10px;
}

footer {
  background-color: #f8f8f8;
  text-align: center;
  padding: 1em;
}

#api-data {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
  max-height: 200px; 
  overflow: auto; 
}

#json-data {
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

.post {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}




